$header-bg-color: #212c3d;
$main-content-grey: #f9f9f9;
$color-primary: #81c2de;
$color-primary-light: #b4f5ff;
$color-primary-dark: #4f92ac;
$color-white: #fffbfa;
$color-black: #191308;
$header-font-color:#c6d3e7;
//
$header-box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
