@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import-normalize;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: Roboto;
}

html {
  height: 100%;
}

div#root {
  height: 100%;
}
